{% load static %}

<header class="primary-header">
    <div class="container">
      <div class="nav-wrapper">
        <a class="nav-logo" href="#">
          E-shop
        </a>
        <nav class="primary-navigation" >
          <ul role="list" class="nav-list">
            <li><a href="#">Headphones</a></li>
            <li><a href="#">Earphones</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <ul role="list" class="nav-icons">
          <!-- <a href="#">
          <svg class="icon" width="25" height="25">
            <use xlink:href="{% static 'images/icons/cart-shopping-solid.svg'%}"></use>
          </svg></a>
          <img src="{% static 'images/icons/cart-shopping-solid.svg'%}" alt="shopping-cart-icon"></a>
          <a href="#"><img class="icon" src="{% static 'images/icons/user-solid.svg'%}" alt="user-icon"></a>
     -->
        </ul>
      </div>
    </div>
  </header>